<style>
  #navv {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
</style>

<nav id="navv" class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="profile-wrapper d-flex justify-content-between align-items-center">
    <img style="width: 2em; height:auto" class="rounded-circle" src={{userData.profile}} alt="">
    <div class="navbar-brand text-white" style="margin-left: 10px;">{{userData.name}}</div>
  </div>

  <a class="btn btn-warning" href="/logout">
    Log Out
  </a>
</nav>

{{!-- blog session --}}
<div class="heading text-success d-flex justify-content-center align-items-center flex-column p-3">
  <h2> Your Blogs</h2>
  <p>hello👋 {{userData.name}} these are your blogs</p>
</div>
<hr style="margin-top: -3px;">
<div class="row d-flex" style="padding: 0 1em; justify-content:center">
  {{#each userData.blogs}}
  <div class="card col-md-6" style="width: 20rem; margin: 0.5em 0.5em">
    <div class="card-body" style="display: flex; flex-direction:column; justify-content:center; align-items:center">
      <h5 class="card-title text-success ">{{this.title}}</h5>
      <img src={{this.img}} class="img-fluid" alt="">
      <div class="card-body">
        <p>{{this.content}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>